/target
**/*.rs.bk
Cargo.lock
.vscode/
dds/target/
dds_api/target/
dds_rtps_implementation/target/
dds_types/target/
rtps/target/
tarpaulin-report.html
*.profraw
interoperability_tests/build/
interoperability_tests/hello_world.rs
interoperability_tests/big_data.rs
build/
interoperability_tests/target/
shapes_demo/target/idl/shapes_type.rs

# Distribution / packaging
.Python
.venv/
.env/
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
include/
man/
venv/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

.DS_Store

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VSCode
.vscode/

# Pyenv
.python-version
