version: 2.1

jobs:
  build:
    docker:
      - image: cimg/rust:1.61.0
    resource_class: large
    steps:
      - checkout
      - run: rustup component add llvm-tools-preview
      - run: cargo --version
      - run:
          name: Run clippy
          command: cargo clippy -- -D warnings
      - run:
          name: Run Tests
          command: |
            export RUSTFLAGS="-Cinstrument-coverage"
            export LLVM_PROFILE_FILE="test-%p-%m.profraw"
            cargo test -- --test-threads=1
      - run:
          name: Hello world example
          no_output_timeout: 30s
          command: |
            export RUSTFLAGS="-Cinstrument-coverage"
            export LLVM_PROFILE_FILE="test-%p-%m.profraw"
            cargo run --example hello_world_publisher &
            pid=$!
            cargo run --example hello_world_subscriber
            wait $pid
      - run:
          name: BestEffort example
          no_output_timeout: 30s
          command: |
            export RUSTFLAGS="-Cinstrument-coverage"
            export LLVM_PROFILE_FILE="test-%p-%m.profraw"
            cargo run --example best_effort_subscriber &
            pid=$!
            cargo run --example best_effort_publisher
            wait $pid
      - run:
          name: Gather coverage data
          command: |
            curl -L https://github.com/mozilla/grcov/releases/latest/download/grcov-x86_64-unknown-linux-gnu.tar.bz2 | tar jxf -
            ./grcov . -s . --binary-path ./target/debug/ -t html --ignore-not-existing -o /tmp/coverage

      - store_artifacts:
          path: /tmp/coverage
