name: python_docs

on:
  workflow_dispatch:
  release:
    types: published

permissions:
  contents: read

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          args: --out dist
          working-directory: bindings/python
      - run: pip install bindings/python/dist/dust_dds*.whl

      - name: Debug dust_dds import
        run: |
          python -c "import dust_dds; print('EXPORTS:', [s for s in dir(dust_dds) if not s.startswith('_')])"

      - run: pip install pytest
      - run: pytest
        working-directory: bindings/python

      - run: pip install pdoc
      - run: pdoc -o docs/ dust_dds

      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/

  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
